body {
  padding-bottom: 40px;
  background-color: #eeeeee;
}
.table-unfloat {
  clear: both;
  max-width: 100%;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  padding-top: 15%;
}
.form-other, .whitebg {
  max-width: 600px;
  padding: 15px;
  margin: 0 auto;
}
.whitebg-mid {
  max-width: 60%;
  padding: 15px;
  margin: 0 auto;
  background-color: #ffffff;
}
.whitebg-full {
  max-width: 100%;
  padding: 15px;
  margin: 0 auto;
  background-color: #ffffff;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-group-top {
  margin-bottom: -1px;
}
.form-group-bottom {
  margin-top: -1px;
}
.form-other .form-control-bottom {
  margin-top: 0px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.form-other .form-control-top {
  margin-bottom: 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.whitebg {
  background-color: #ffffff;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 64px;
}
#footer {
  padding-top: 10px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 64px;
  background-color: #ffffff;
}
.navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
}
.nav{
    word-spacing: -10px;
}
.tablecontainer{
    width: 80%;
}
.btn span{
    word-spacing: -7px;
}
.loginlogo{
    height: 100px;
    width: 100px;
}
.fullwidth{
    width: 100%;
}
.halfwidth{
    width: 50%;
}
.centered{
    margin: 0 auto;
}
.infobox{
    font-weight: unset;
    font-size: 14px;
}
.alert-info h3{
    margin-top: 0;
}
td div {
    margin-top: 10px;
}
